<template>
  <q-page class="q-pa-md">
    <div class="text-h3">Descubrir Post</div>
    <div class="row">
      <div class="col-4">
        <div class="q-pa-md">
          <q-card class="my-card">
            <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" />

            <q-card-section>
              <q-item to="/post/1" exact clickable>
                <q-item-section>
                  <q-item-label class="text-h6"
                    >Our Changing Planet</q-item-label
                  >
                </q-item-section>
              </q-item>
              <div class="text-subtitle2">John Doe</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="col-4">
        <div class="q-pa-md">
          <q-card class="my-card">
            <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" />

            <q-card-section>
              <q-item to="/post/2" exact clickable>
                <q-item-section>
                  <q-item-label class="text-h6"
                    >Our Changing Planet</q-item-label
                  >
                </q-item-section>
              </q-item>
              <div class="text-subtitle2">by John Doe</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </q-card-section>
          </q-card>
        </div>
      </div>
      <div class="col-4">
        <div class="q-pa-md">
          <q-card class="my-card">
            <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" />

            <q-card-section>
              <q-item to="/post/3" exact clickable>
                <q-item-section>
                  <q-item-label class="text-h6"
                    >Our Changing Planet</q-item-label
                  >
                </q-item-section>
              </q-item>
              <div class="text-subtitle2">by John Doe</div>
            </q-card-section>

            <q-card-section class="q-pt-none">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua.
            </q-card-section>
          </q-card>
        </div>
      </div>
    </div>
  </q-page>
</template>

<script>
export default {
  name: "ListarPost",
};
</script>
