<template>
  <q-page class="q-pa-md">
    <div class="text-h3">Titulo Post</div>
    <q-img src="https://cdn.quasar.dev/img/parallax2.jpg" style="height:300px; width:100%"/>
    <p class="text-body-1 q-pa-md">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Cupiditate corrupti nemo, veritatis porro, odio fugit ab nisi magnam, expedita atque debitis perferendis sint facilis velit ad? Nostrum, delectus minima. Cumque!
    </p>
  </q-page>
</template>

<script>
export default {
  name: "MostrarPost",
};
</script>
