<template>
  <q-layout view="lHh Lpr lFf">
    <q-header elevated>
      <q-toolbar>
        <q-btn
          flat
          dense
          round
          icon="menu"
          aria-label="Menu"
          @click="toggleLeftDrawer"
        />

        <q-toolbar-title> Post App </q-toolbar-title>

        <div>Quasar v{{ $q.version }}</div>
      </q-toolbar>
    </q-header>

    <q-drawer v-model="leftDrawerOpen" show-if-above bordered>
      <q-list>
        <q-item-label header> Menu </q-item-label>
        <q-item to="/" exact clickable>
          <q-item-section avatar>
            <q-icon name="fa fa-list" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Descubrir Posts</q-item-label>
            <q-item-label caption>Lee posts de la comunidad</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/post/crear" exact clickable>
          <q-item-section avatar>
            <q-icon name="fas fa-circle-plus" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Nuevo Post</q-item-label>
            <q-item-label caption>Crea un nuevo post</q-item-label>
          </q-item-section>
        </q-item>
        <q-item to="/post/my" exact clickable>
          <q-item-section avatar>
            <q-icon name="fas fa-user" />
          </q-item-section>
          <q-item-section>
            <q-item-label>Mis Post</q-item-label>
            <q-item-label caption>Mis Post</q-item-label>
          </q-item-section>
        </q-item>
      </q-list>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
export default {
  data() {
    return {
      leftDrawerOpen: false,
    };
  },
  methods: {
    toggleLeftDrawer() {
      this.leftDrawerOpen = !this.leftDrawerOpen;
    },
    salir() {
      this.$q.loading.show();
      this.$store.dispatch("login/logout").then(() => {
        this.$q.loading.hide();
        this.$router.push("/login");
      });
    },
  },
  // setup () {
  //   const leftDrawerOpen = ref(false)

  //   return {
  //     essentialLinks: linksList,
  //     leftDrawerOpen,
  //     toggleLeftDrawer () {
  //       leftDrawerOpen.value = !leftDrawerOpen.value
  //     }
  //   }
  // }
};
</script>
